body{ 
    background:#b9bdc0;
    margin: 0;
    padding: 0;
}
/* CABEÇALHO */
ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 9px 15px;
    margin: 0;
    gap: 15px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    background-color: #6EA4BF;
    z-index: 1000;
}

/* Itens */
li {
    position: relative; /* importante pro dropdown */

}


.login {
    margin-left: auto;
}

/* LINKS */
li a,
.dropbtn {
    display: block;
    color: #ffffff;
    padding: 10px 18px;
    text-decoration: none;
    text-align: center;
      font-family:"Outfit", sans-serif;
    font-weight: 500;
    font-size: 15px;
}

/* Hover */
li a:hover,
.dropdown:hover .dropbtn {
    background: #BF8DAC;
    border-radius: 6px;
    transition: 0.3s;
}

/* DROPDOWN */
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%; /* fica exatamente abaixo */
    left: 0;   /* alinhado com o link */
    background: #BF8DAC;
    min-width: 150px;
    border-radius: 6px;
    overflow: hidden;
    z-index: 999;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    color: #ffffff;
    text-align: left;
    font-size: 14px;
}

.dropdown-content a:hover {
    background: #CAA0BB;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* REMOVE BUGS ANTIGOS */
.sing a,
.singr a,
.singer a {
    margin-left: 0;
}
.box{
    width: 90px;
    height: 390px;
    border: 1px solid #32373B;
    background-color: #32373B;
    border-radius: 10px;
}    
.imagem1{
    background-image: url(./imagens/arirang.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 230px;
    height: 180px;

    border-radius: 10px;

    margin-left: 30px;
    margin-top: 15px;

}

.imagem2{
    background-image: url(./imagens/coltriane.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 210px;
    height: 170px;

     border-radius: 10px;

    margin-left: 50px;
    margin-top: 30px;
}

.imagem3{
    background-image: url(./imagens/thebeach.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 210px;
    height: 170px;

     border-radius: 10px;

    margin-left: 50px;
    margin-top: 30px;
}

.imagem4{
    background-image: url(./imagens/niall.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 230px;
    height: 170px;

     border-radius: 10px;

    margin-left: 25px;
    margin-top: 30px;
}
 
.imagem5{
    background-image: url(./imagens/5sos.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 240px;
    height: 160px;

     border-radius: 10px;

    margin-left: 25px;
    margin-top: 30px;
}


.carousel {
    width: 100%;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    gap: 20px;
    overflow-x: auto; /* permite rolar pro lado */
    scroll-snap-type: x mandatory; /* efeito carrossel */
    padding: 20px;

    flex-wrap: nowrap;
}

.carousel-track::-webkit-scrollbar {
    display: none; /* esconde a barra */
}

.box{
    min-width: 295px; /* IMPORTANTE */
    scroll-snap-align: start; /* encaixa certinho */
    flex-shrink: 0;
}

.container{
    width: 400px;
    margin: 80px auto;
    background: #32373B;
    padding: 25px;
    border-radius: 10px;
}

h2{
    text-align: center;
    margin-bottom: 20px;
}

input, select, textarea{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    outline: none;
}

textarea{
    resize: none;
    height: 100px;
}


.banner{
    background-image: url(./imagens/vinil.jpg);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 1000;
    width: 1885;
    display: flex;
    align-items: center; /* centraliza vertical */
    padding-left: 20px;

    font-size: 45px;
    color: #8b8e8f;
    font-weight: bold;
}

a{
    color: #C596B4;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

h4{
    color: #B8D0EB;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
}

h6{
    color: #B8D0EB;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
}

/* Página Produtos */

.imagem6{
    background-image: url(./imagens/zayn.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
    height: 160px;

     border-radius: 10px;

    margin-left: 25px;
    margin-top: 30px;
}

.imagem7{
    background-image: url(./imagens/minights.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 260px;
    height: 160px;

     border-radius: 10px;

    margin-left: 25px;
    margin-top: 30px;
}

.imagem8{
    background-image: url(./imagens/noah.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 280px;
    height: 160px;

     border-radius: 10px;

    margin-left: 25px;
    margin-top: 30px;
}
.imagem9{
    background-image: url(./imagens/hdigh.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 280px;
    height: 160px;

     border-radius: 10px;

    margin-left: 20px;
    margin-top: 30px;
}
.imagem10{
    background-image: url(./imagens/5soss.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 290px;
    height: 160px;

     border-radius: 10px;

    margin-left: 15px;
    margin-top: 30px;
}

.imagem11{
    background-image: url(./imagens/minor.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 210px;
    height: 160px;

     border-radius: 10px;

    margin-left: 25px;
    margin-top: 30px;
}
.imagem12{
    background-image: url(./imagens/golden.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 250px;
    height: 160px;

     border-radius: 10px;

    margin-left: 25px;
    margin-top: 30px;
}
.imagem13{
    background-image: url(./imagens/powerslave.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 220px;
    height: 160px;

     border-radius: 10px;

    margin-left: 30px;
    margin-top: 30px;
}
.imagem14{
    background-image: url(./imagens/leppard.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 230px;
    height: 160px;

     border-radius: 10px;

    margin-left: 25px;
    margin-top: 30px;
}
.imagem15{
    background-image: url(./imagens/dw.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 300px;
    height: 160px;

     border-radius: 10px;

    margin-left: 10px;
    margin-top: 30px;
}


.outfit-uniquifier {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
